@model IEnumerable<FloorDto>


<table class="table">
    <thead>
        <tr>
            <th>
                Actions
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building.BlockName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="AddFlat" asp-route-floorId="@item.Id" asp-controller="Flat">Daire Ekle</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.BlockName)
                </td>
            </tr>
        }
    </tbody>
</table>

