@model IEnumerable<BuildingDto>


@{ 
    var tst = new List<FloorDto>();

    foreach (var item in Model)
    {
        foreach (var col in item.Floors)
        {
            tst.Add(col);
        }
    }
}
 
<table class="table">
    <thead>
        <tr>
            <th>
                Actions
            </th>
            <th>
                @Html.DisplayNameFor(tst => tst.Floors.FirstOrDefault().Building)
            </th>
            <th>
                @Html.DisplayNameFor(tst => tst.Floors.FirstOrDefault().FloorNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tst)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.BlockName)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>                
            </tr>
        }
    </tbody>
</table>